* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.header {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 64px;
}

.neonText {
    color: #ede3e3;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px rgb(246, 255, 0),
      0 0 82px rgb(246, 255, 0),
      0 0 92px rgb(246, 255, 0),
      0 0 102px rgb(246, 255, 0),
      0 0 151px rgb(246, 255, 0);
  }
  

  .header__text {
    font-size: 4rem;
    animation: pulsate 0.11s ease-in-out infinite;
    font-family: 'Lobster', cursive;
  }

  @keyframes pulsate {
    
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px rgb(246, 255, 0),
        0 0 80px rgb(246, 255, 0),
        0 0 90px rgb(246, 255, 0),
        0 0 100px rgb(246, 255, 0),
        0 0 150px rgb(246, 255, 0);
    
    }
    
    0% {
  
      text-shadow:
      0 0 4px #fff,
      0 0 10px #fff,
      0 0 18px #fff,
      0 0 38px rgb(246, 255, 0),
      0 0 73px rgb(246, 255, 0),
      0 0 80px rgb(246, 255, 0),
      0 0 94px rgb(246, 255, 0),
      0 0 140px rgb(246, 255, 0);
  
  }
}

.container {
    display: grid;
    align-items: end;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.beer {
    display: flex;
    gap: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #050505;
    border-radius: 20px;
    height: 100%;
    font-family: 'Lobster', cursive;
    color: #dbd8d8;
}

.beer:hover {
    box-shadow: 10px 5px 5px rgb(210, 194, 92);
}

.beer__image {
    width: 25%;
    height: 60%;
}

body{
    background-color: #251a0d;
}
.stars{
    width: 3px;
    height: 3px;
    background: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top:50%;
    transform-origin: 0 0;
    transform: translateY(-50%);
    border-radius: 50%;
    animation: rotate 270s infinite linear;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}



